<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <!-- 项目显示名称 -->
  <display-name>PatentManagement</display-name>
  <!--欢迎页面 -->
  <welcome-file-list>
    <welcome-file>patent/index.html</welcome-file>
  </welcome-file-list>
  
  <!-- Spring配置文件（默认路径在WEB-INF下），这里配置文件在classpath中 -->
  <context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>classpath:applicationcontext-spring.xml</param-value>
  </context-param>
  
  <!-- 声明Spring的监听器，把Spring的配置文件applicationcontext.xml加载到web容器中 -->
  <listener>
	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
	
  <!-- 设置spring上下文 -->
  <listener>
	<listener-class>com.codyy.commons.context.SpringContext</listener-class>
  </listener>
  
  <!-- Spring的log4j监听器 -->
  <listener>
	<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
	
  <!-- 设置log4j配置文件路径 -->
  <context-param>
	<param-name>log4jConfigLocation</param-name>
	<param-value>classpath:log4j.properties</param-value>
  </context-param>
  <context-param>
	<param-name>log4jRefreshInterval</param-name>
	<param-value>600000</param-value>
  </context-param>
  
  <!--如果不定义webAppRootKey参数，那么webAppRootKey就是缺省的"webapp.root" -->
  <context-param>
	<param-name>webAppRootKey</param-name>
	<param-value>patent.root</param-value>
  </context-param>
  
  <!-- Spring MVC核心 -->
  <servlet>
	<servlet-name>baseServlet</servlet-name>
	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	<init-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring-mvc.xml</param-value>
	</init-param>
	<load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
	<servlet-name>baseServlet</servlet-name>
	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>baseServlet</servlet-name>
	<url-pattern>*.html</url-pattern>
  </servlet-mapping>
  
  <!-- 统一编码UTF-8 -->
  <filter>
	<filter-name>characterEncodingFilter</filter-name>
	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
	<init-param>
		<param-name>encoding</param-name>
		<param-value>UTF-8</param-value>
	</init-param>
	<init-param>
		<param-name>forceEncoding</param-name>
		<param-value>true</param-value>
	</init-param>
  </filter>
  <filter-mapping>
	<filter-name>characterEncodingFilter</filter-name>
	<url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
	<filter-name>characterEncodingFilter</filter-name>
	<url-pattern>*.do</url-pattern>
  </filter-mapping>
  
  <!-- ajax请求缓存过滤器 -->
  <filter>
	<filter-name>ajaxCacheFilter</filter-name>
	<filter-class>com.codyy.commons.filter.AjaxCacheControlFilter</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>ajaxCacheFilter</filter-name>
	<url-pattern>/*</url-pattern>
  </filter-mapping>
	
  <!-- 错误信息提示 -->
  <error-page>
	<error-code>404</error-code>
	<location>/common/error/404.jsp</location>
  </error-page>
  <error-page>
	<error-code>500</error-code>
	<location>/WEB-INF/pages/common/error/404.jsp</location>
  </error-page>
  
  <!-- 应用session时长 -->
  <session-config>
	<session-timeout>30</session-timeout>
  </session-config>
</web-app>